.results-table {
    border-collapse: collapse;
}
.results-table,
.results-table th,
.results-table td {
    border: 2px solid black;
    padding: 5px;
}
.results-table td {
    vertical-align: top;
}

.results-table table td {
    border: 0;
    padding: 0;
}

.right {
    text-align: right;
}
